name: Audit

on:
  pull_request:
    branches:
      - master
      - zowe-v1-lts
      - next
  # schedule:
  #   - cron: '0 10 * * *'

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

    - name: Use Node.js LTS
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: lts/*

    - name: Use NPM v8
      id: npm8
      run: npm install -g npm@^8

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@d76c2a93c593483c9892fd8d2538734f73ed8588 # stable

    - name: Check Node Vulnerabilities
      run: npm audit --production --audit-level=moderate

    # TODO Consider using actions-rs/audit-check after https://github.com/actions-rs/audit-check/issues/116 is fixed
    - name: Check Daemon Vulnerabilities
      working-directory: zowex
      run: cargo audit --deny warnings
      
    - name: Check Secrets SDK Vulnerabilities
      working-directory: packages/secrets/src/keyring
      run: cargo audit --deny warnings