name: Zowe CLI Auto Responder for New Issues
# This workflow is triggered when a label is added to an issue.
on:
  issues:
    types: labeled

permissions:
  contents: read

jobs:
  processLabelAction:
    permissions:
      contents: read  # for hramos/respond-to-issue-based-on-label to fetch config file
      issues: write  # for hramos/respond-to-issue-based-on-label to update issues
    name: Process Label Action
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
       
      - name: Process Label Action
        uses: hramos/respond-to-issue-based-on-label@a366dfe725db739c4522391dd1cb3daa9cb399d5 # v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: '.github/label-actions.yml'
