name: Lint

on:
  push:
    branches-ignore:
      - 'master'
      - 'zowe-v1-lts'
      - 'next'
  pull_request:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository) && !contains(github.event.head_commit.message, '[ci skip]')

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

    - name: Use Node.js LTS
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: lts/*

    - name: Use NPM v8
      id: npm8
      run: npm install -g npm@^8

    - name: Install Node Package Dependencies
      run: npm ci

    - name: Lint
      run: npm run lint
